<nav class="navBar">
  <div class="head">
    <a href="#">Coder House</a>
  </div>
  <div class="navigation">
    <a href="/">List Products</a>
    <a href="/realtimeproducts">Products real time</a>
  </div>
</nav>