
{{>navBar}}

<h1 class="title">Todos los productos hasta el momento</h1>

<h2 class="welcome">Un placer tenerte de vuelta:
  <span id="current_first"></span>
  <span id="current_last"></span></h2>

<div id="products"></div>